body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    
    height: 100vh;
    background-color: black;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(to right, rgb(214, 77, 18), rgb(208, 159, 12));
    background-clip: text;
    color: transparent;
}

.input-container{
    padding: none;
    display: flex;
}

input,textarea{
    box-shadow: 0 0 5px white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 1.5rem;
    padding-left: 20px;
    height: 100%;
    border: none;
    color: grey;
    background-color: #212121;
}


button{
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
}
#add-task{
    transition: .3s;
    padding: 15px 30px;
    background-color:lightblue;
}

#add-task:enabled:hover{
    margin-left: 5px;
    background-color: rgb(66, 186, 226);
    color: white;
    transform: scale(1.1);
}
#add-task:disabled{
    padding: 15px 30px;
    background-color:rgb(173, 216, 230);
}
#task-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    margin-bottom: 20px;
    padding: 20px 40px;
    margin-top: 20px;
    border: 2px solid white;
    width: 420px;
    color: white;
    border-radius: 10px;
    
}
#task-list li{
    list-style-type: none;
    margin: none;
    flex: 1;
    font-size: 1.3rem;
}

.task{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: .5s;
}
.task:hover{
    margin-top: 10px;
    transform: scale(1.1);
}

.task button{
    padding: 5px 8px;
    margin: 0 5px;
    border-radius: 15px;
    background-color: #212121;
    color: white;
    transition: .5s;

}
.delete-btn:hover{
    background-color: red;
    transform: scale(1.2);
}
.check-btn:hover{
    background-color: green;
    transform: scale(1.2);
}

